---
import Layout from '../layouts/Layout.astro';
import houseImage from '../assets/images/houseImage.webp'
import inmobiliariaImage from '../assets/images/inmobiliariaImage.webp'

---

<Layout title="Welcome to Astro.">
  <div class="max-w-screen-lg h-full">
    <section class="text-lg mt-12 overflow-ellipsis">
      <h1 class="text-3xl uppercase mb-3 text-logan-300 px-2 md:px-0">¿Quiénes somos?</h1>
      <hr class='h-px w-full mt-2 mb-2 bg-gradient-to-r from-transparent via-logan-300 to-transparent border-0' />
      <div class="flex w-full h-44 items-start gap-x-4">
        <img src={houseImage.src} alt="" class="h-full rounded-md">
        <p class="mt-2">HomeLink es tu destino confiable para la compra de viviendas. 
          Nos esforzamos por ofrecerte una amplia selección de propiedades de calidad, 
          junto con un proceso de compra sencillo y transparente. En HomeLink, 
          nuestro objetivo es brindarte una experiencia excepcional, 
          desde la búsqueda hasta la entrega de tu hogar ideal.</p>
      </div>
    </section>
    <section class="text-lg mt-16 overflow-ellipsis">
      <h1 class="text-3xl uppercase mb-3 text-logan-300 px-2 md:px-0">Nuestra inmobiliaria</h1>
      <hr class='h-px w-full mt-2 mb-2 bg-gradient-to-r from-transparent via-logan-300 to-transparent border-0' />
      <div class="flex w-full h-44 items-start gap-x-4">
        <p class="mt-2">Bienvenido a HomeLink, tu inmobiliaria de confianza. 
          En HomeLink, nos enorgullecemos de ofrecer una experiencia de compra de viviendas sin igual. 
          Nuestra inmobiliaria cuenta con una amplia variedad de propiedades nuevas y usadas, 
          cuidadosamente seleccionadas para satisfacer tus necesidades y preferencias individuales.</p>
        <img src={inmobiliariaImage.src} alt="" class="h-full rounded-md">
      </div>
    </section>
  </div>
</Layout>
